# (опціонально) якщо хочете підхоплювати сесію з ENV як fallback
SESSION_JSON_B64=

# Proxy rotation (true/false)
USE_PROXY=

# Безпечний ключ для Flask-сесій
FLASK_SECRET_KEY=

# Захищати куки в продакшні (true/false)
SESSION_COOKIE_SECURE=

CACHE_TTL=1800
MAX_COMMENTS=400
LOCK_WAIT_SEC=10
RQ_DEFAULT_RESULT_TTL=3600
MAX_ACTIVE_JOBS_PER_USER=3
