# api/requirements.txt
Flask==3.1.2
flask-cors==6.0.1
Flask-Session==0.8.0
python-dotenv==1.1.1
redis==6.4.0
rq==2.5.0
instagrapi==2.2.1
requests==2.32.4
Pillow==11.3.0
prometheus-client==0.22.1
phonenumbers==9.0.13
gunicorn==23.0.0
# build-bust: 2025-09-05-002
